:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444444;

  --primary-color: #e1f3ef;
  --secondary-color: #006466;
  --text-color: #4d194d;
  --logo-size: 6rem;
  --gif-size: 4rem;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

header img {
  width: var(--logo-size);
  height: var(--logo-size);
  padding-right: 1rem;
}

header h1 {
  width: 75%;
  cursor: default;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 35rem;
}

form {
  display: flex;
  flex-direction: column;
}

form#text-encode {
  width: 40%;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  border: none;
}

#text-encode textarea {
  font-size: 1rem;
  color: var(--text-color);
  background: transparent;
}

#text-encode .warning {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 0.7rem;
}

#text-encode .warning img {
  margin-right: 0.2rem;
}

#information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

#information .dimmed {
  font-size: 0.7rem;
  color: dimgrey;
}

#text-decode {
  border-radius: 3%;
  border: 0.3rem solid var(--secondary-color);
  background-color: white;
  padding: 0.3rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
}

.buttons button {
  width: 9.1rem;
  padding: 0.8rem 0;
  margin: 0 0.2rem;
  border-radius: 90px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 0px 0.3rem #000000;
  cursor: pointer;
}

.button-default {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--text-color);
}

.button-primary {
  background-color: var(--text-color);
  border: none;
  color: #e1f3ef;
}

.button-secondary {
  background-color: var(--secondary-color);
  border: none;
  color: #e1f3ef;
}

#text-decode .buttons {
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8rem;
}

.social-media {
  display: flex;
  width: 6rem;
  justify-content: space-around;
  margin: 1rem 0;
}

.social-media .link {
  text-decoration: none;
  border-radius: 30%;
}

.social-media .link img {
  height: 100%;
}

.social-media .link:hover {
  box-shadow: 0px 2px 1rem var(--secondary-color);
}

.z-index {
  z-index: -1;
}

.invalido {
  font-size: small;
  text-align: center;
  border: 0.12rem solid black;
  border-radius: 90px;
  width: fit-content;
  padding: 0.3rem;
  background-color: coral;
  margin: auto;
  opacity: 0;
  color: white;
}

.valido {
  position: relative;
  font-size: small;
  text-align: center;
  bottom: 1.8rem;
  border: 0.12rem solid black;
  border-radius: 1rem;
  width: fit-content;
  padding: 0.3rem;
  background-color: royalblue;
  margin: auto;
  opacity: 0;
  color: white;
}
