* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root { 
    width: 100%;
    height:100%;
    --background-color: #E1F3EF;
    --btn-color-one: #006466;
    --btn-color-two: #4D194D;
}

body {
    background: var(--background-color);

}

#header {
    width: 100%;
    /*border-bottom: 0.15rem #006466 solid;  <-- borda para a navegação no modo mobile*/  
}

#img {
    float: left;
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-start;
    padding-top: 2.5rem;
    padding-left: 2.2rem;
    flex-wrap: wrap;
    width: 4.5rem; 
}    

.title {
    text-align: center;
    font-size: 1.4rem;
    padding: 2.5rem 5.2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.2rem;
}

#texto {
    font-size: 1rem;
    color: var(--btn-color-two);
    margin-top: 1.5rem;
    width: 18.6rem;
    height: 19.6rem;
    background: var(--background-color);
    resize: none;
    outline: none;  
    border: none;
}

#texto2 {
    margin-top: 1.5rem;
    width: 18.6rem;
    height: 26.4rem;
    min-width: 15rem;
    resize: none;
    outline: none;
    border-radius: 0.5rem; 
    border: 0.3rem solid var(--btn-color-two);  
    box-shadow: 1rem 0.7rem 0.7rem rgba(0,0,0,0.19), 1rem 0.9rem 0.9rem rgba(0,0,0,0.23);
}

.background {
    font-size: 1rem;
    background-color: black;
    color: var(--background-color);
}


.warning {
    color: darkgrey;
    position: relative;
    font-size: 0.7rem;
    left: 1.1rem;
    top: 1rem
}

#gif {
    position:relative;
    width: 4rem;
    margin: -2.2rem;
    margin-top: 1.5;
    height: 4rem;
    left: 9.45rem;
    bottom: 17.5rem
}

.flex {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:-18rem;
    margin: -3rem;
}

.nomsg {
    position: relative;
    text-align: center;

}

.enter {
    position: relative;
    text-align: center;
    max-width: fit-content;
    margin-top: 0.5rem;
    left: 6.3rem;
    font-size: 0.7rem;
    color: dimgrey;
}

.z-index {
    z-index: -1;
}

.btn {
    width: 9.1rem;
    height: 2.8rem;
    margin: 2.5rem 0;
    border-radius: 90px;
}

#encript {
    background-color: var(--background-color);
    border-color: var(--btn-color-two);
    color: var(--btn-color-two);
    box-shadow: 1rem 0.7rem 0.7rem rgba(0,0,0,0.19);
    transition: 0.3s;
}

#encript:hover {
    background-color: var(--btn-color-two);
    color: var(--background-color);
    border-color: var(--background-color);
    
}

#descript {
    background-color: var(--btn-color-one);
    color: var(--background-color);
    border-color: white;
    box-shadow: 1rem 0.7rem 0.7rem rgba(0,0,0,0.19);
    transition: 0.3s;
}

#descript:hover {
    background-color: var(--background-color);
    color: var(--btn-color-one);
    border-color: var(--btn-color-one);
}

.invalido {
    font-size: small;
    text-align: center;
    border-radius: 90px;
    width: fit-content;
    padding: 0.3rem;
    background-color: var(--btn-color-two);
    margin: auto;
    opacity: 0;
    color: white;
}

.valido {
    position: relative;
    font-size: small;
    text-align: center;
    bottom: 1.8rem;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.3rem;
    background-color: var(--btn-color-one);
    margin: auto;
    opacity: 0;
    color: white
}

#copiar {
    width: 6.1rem;
    height:2.2rem;
    background-color: var(--btn-color-two);
    color: var(--background-color);
    border-color: white;
    border-radius: 20px; 
    box-shadow: 1rem 0.7rem 0.7rem rgba(0,0,0,0.19);
    transition: 0.3s;
}

#copiar:hover{
    background-color: var(--background-color);
    border-color: var(--btn-color-two);
    color: var(--btn-color-two);
}

#limpar {
    width: 6.1rem;
    height:2.2rem;
    background-color: var(--background-color);
    color: var(--btn-color-one);
    border-color: var(--btn-color-one);
    border-radius: 20px; 
    box-shadow: 1rem 0.7rem 0.7rem rgba(0,0,0,0.19);
    transition: 0.3s;
}

#limpar:hover {
    background-color: var(--btn-color-one);
    color: var(--background-color);
    border-color: var(--background-color);
}

#footer {
    text-align: center;
    font-size: 0.8rem;
    color:dimgrey
}

.links {
    margin: 1rem;
}
